
li { 
	font-size: 20px; 
	margin: 5; 
	float: left; 
	color: #999999; 
	font-family: Impact, Arial, Verdana; 
	text-transform: uppercase; 
	border-bottom: #CC0000 7px solid; 
	font-weight: 50; 
	letter-spacing: 2px; 
	}
body { 
	background-color: #fdfd96;
	}
	
#h { 
	font-family:"Trebuchet MS", Garamond, Georgia; 
	line-height: .88em; 
	border-bottom: #990000 1px solid; 
	color: #990000;
	letter-spacing: -2px; 
	font-size:50px;
#j { 
	font-family: Lucida Grande;
	color: black; 
	font-size: 15px; 
	text-align: center; 
	
	}
h1 {
	font-size: 36px; 
	font-weight: 100; 
	font-family: Optima,Lucida Grande, American Typewriter; 
	text-align: center;
	}

h1 span { 
	font-size: 24px; 
	line-height: 1em; 
	font-style: italic; 
	font-weight: bold; 
	letter-spacing: 2px;
	text-align: center; 
	font-family: Lucida Grande, American Typewriter;
		}