
li { 
	font-size: 20px; 
	margin: 5; 
	float: left; 
	color: #999999; 
	font-family: Impact, Arial, Verdana; 
	text-transform: uppercase; 
	border-bottom: #CC0000 7px solid; 
	font-weight: 50; 
	letter-spacing: 2px; 
	}
body { 
	background-color: #fdfd96;
	}
	
#h { 
	font-family:"Trebuchet MS", Garamond, Georgia; 
	line-height: .88em; 
	border-bottom: #990000 1px solid; 
	color: #990000;
	letter-spacing: -2px; 
	font-size:50px;
	}
#j { 
	font-family: American Typewriter;
	color: purple; 
	font-size: 36px; 
	text-align: center; 
	font-weight: 100;
	letter-spacing: 1px;
	}
	
#j span { 
	font-family: Lucida Grande; 
	font-size: 24px; 
	font-style: italic;
	line-height: 1em; 
	font-weight: bold; 
	letter-spacing: 2px;
	}